<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>深圳大学教育技术系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no;">
	<meta name="keywords" content="深圳大学,教育技术,深大教育技术" />
	<meta name="description" content="关于教育技术的介绍" />
	<meta name="author" content="Pang Lin" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/CSS.css'}">
	<link rel="stylesheet" type="text/css" th:href="@{'css/main.css'}">
	<script th:src="@{'resource/basic/jquery/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="@{'js/main.js'}"></script>
	<!--[if lt IE 9]>
		<script th:src="@{'js/html5shiv.js'}"></script>
		<link rel="stylesheet" th:href="@{'CSS/ie8.css'}" />
	<![endif]-->
</head>
<body>
	<div class="header">
		<h1 id="logo"><img src="images/logo.jpg" alt=""></h1>
		<ul id="menu">
			<li><a href="/" style="text-decoration:none;">首页</a></li>
			<li><a href="/news" style="text-decoration:none;">新闻讯息</a></li>
			<li ><a href="/overview" style="text-decoration:none;">总体概览</a></li>
			<li class="on">办学条件</li>
			<li><a href="/faculty" style="text-decoration:none;">师资力量</a></li>
			<li>办学层次</li>
			<li>学生组织</li>
			<li>风采展示</li>
			<li>校友空间</li>
		</ul>
	</div>
	<div class="banner">
		<img src="images/banner.jpg" alt="">
	</div>


	<div class="container">
		<div id="container_left">
			<ul id="container_left_menu">
				<h2>办学条件</h2>
				<li class="on">中学简介</li>
				<li>实验实备</li>
				<li>教学体系</li>
				<li>教学成果</li>
			</ul>
		</div>
		<div id="container_right">
			<div id="header">
				<h3>中学简介</h3>
			</div>

			<!-- 文本类型内容 -->
			<div id="text">
				<p>中心组成：</p>
				<p>教育信息技术实验中心主要为教育信息技术系教学提供支持，教育信息技术系在教育技术学专业下设二个方向：数字媒体技术，教育软件与网络工程；教育信息技术系也承担所有其它学科师范生的教育技术能力的培训课程。</p>
				<p></p>
				<p>实验中心由 4 个实验室组成：</p>
				<p>l 数字媒体技术实验室：主要针对教育技术学专业数字媒体技术方向相关课程实验而设置。</p>
				<p>l 教育网络工程实验室：主要针对教育技术学专业教育软件与网络工程方向相关课程实验而设置。</p>
				<p>l 教育技术装备实验室：主要针对全体师范生教育技术能力培训而设置。</p>
				<p>l 创客教育实验室：是根据数字媒体技术和教育软件与网络工程二个方向的发展而设置的具有前沿性的实验室。</p>
				<p></p>
				<p>发展历程：</p>
				<p>初创期（2007 年-2012 年）：</p>
				<p>2006 年深圳大学成立教育信息技术系，为保障专业建设，2007 年学院拨出740 平米实验建设场所，建立深圳大学教育信息技术实验中心，根据专业方向，设置教育网络工程实验室、数字媒体技术实验室、虚拟现实技术实验室和教育技术装备实验室。2012 年实验中心已建成实验体系完备、设施先进的教育技术学教学实验中心，获评深圳大学示范实验中心。</p>
				<p>提升发展期（2013 至今）：</p>
				<p>伴随着新一代信息技术革命的到来，深圳大学教育信息技术实验中心迎来了新的发展机遇，2014 年开始持续将新一代信息技术内容引入实验中心。在教育网络工程实验室增建云计算实验室，在数字媒体技术实验室增建微课制作实验设备。2015 年将虚拟现实技术实验室改名为创客教育实验室，增建 3D 打印与扫描功能实验室和智能机器人功能实验室。</p>
				<p>组织架构：</p>
				<p> 实验中心主任：胡世清     数字媒体技术实验室主任：董志彪     教育网络工程实验室主任：陈峥     教育技术装备实验室主任：李文光     创客教育实验室主任：曹晓明实验员：曹平、何健宁 </p>
				<img src="/images/condition/picture1.png">
			</div>
			<!-- 文本类型内容 -->


		</div>
	</div>

	<div class="footer">
		<div id="footer_left">
			<h4>联系我们</h4>
			<span>咨询电话：400-656-3685｜地址：深圳市南山区深南大道3688深圳大学师范学院</span>
			<span>友情链接：
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
			</span>	
			<span id="copyright">Copyright © 2017-2018 BaoHao All Rights Reserved. 深圳大学教育技术系</span>
		</div>
		<div id="footer_right">
			<div id="media">
				<span>关注我们</span>
				<a href="#"><span id="weibo"></span></a>
				<a href="#"><span id="wechat"></span></a>
				<a href="#"><span id="qq"></span></a>
			</div>
			<h5>
				<a href="#">学术合作</a> ｜ 
				<a href="#">网站声明</a> ｜ 
				<a href="#">关于我们</a>
			</h5>
			<h6 id="code"></h6>
		</div>
	</div>


</body>
</html>