<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>深圳大学教育技术系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no;">
	<meta name="keywords" content="深圳大学,教育技术,深大教育技术" />
	<meta name="description" content="关于教育技术的介绍" />
	<meta name="author" content="Pang Lin" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/CSS.css'}">
	<link rel="stylesheet" type="text/css" th:href="@{'css/main.css'}">
	<script th:src="@{'resource/basic/jquery/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="@{'js/main.js'}"></script>
	<!--[if lt IE 9]>
		<script th:src="@{'js/html5shiv.js'}"></script>
		<link rel="stylesheet" th:href="@{'CSS/ie8.css'}" />
	<![endif]-->
</head>
<body>
	<div class="header">
		<h1 id="logo"><img src="images/logo.jpg" alt=""></h1>
		<ul id="menu">
			<li><a href="/" style="text-decoration:none;">首页</a></li>
			<li><a href="/news" style="text-decoration:none;">新闻讯息</a></li>
			<li><a href="/overview" style="text-decoration:none;">总体概览</a></li>
			<li><a href="/condition" style="text-decoration:none;">办学条件</a></li>
			<li><a href="/faculty" style="text-decoration:none;">师资力量</a></li>
			<li class="on">办学层次</li>
			<li><a href="/student/organization" style="text-decoration:none;">学生组织</a></li>
			<li><a href="/photo" style="text-decoration:none;">风采展示</a></li>
			<li><a href="/alumnus" style="text-decoration:none;">校友空间</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="images/banner.jpg" alt="">
	</div>


	<div class="container">
		<div id="container_left">
			<ul id="container_left_menu">
				<h2>办学层次</h2>
				<li class="on">本科培养计划</li>
				<li>本科课程简介</li>
				<li>研究生培养方针</li>
				<li>研究生课程介绍</li>
				<li>学期排课表</li>
			</ul>
		</div>
		<div id="container_right">
			<div id="header">
				<h3>本科培养计划</h3>
			</div>

			<!-- 文本类型内容 -->
			<div id="text">
				<p>深圳大学教育技术学专业本科人才培养方案</p>
				<p>2012级  教育技术学</p>
				<p>一、培养目标</p>
				<p>本专业培养德智体美全面发展，具有教育理念、理科基础、文学修养、艺术创意、面向应用、服务教育的复合型创新人才。具有将计算机、网络、数字音视频媒体技术应用于教育中的能力，能够在学校从事信息技术教学工作，或在学校信息中心从事网络管理与设计和电教设备管理维护等技术工作、或在教育相关企业从事计算机、网络教育产品、教育媒体产品的开发设计工作。</p>
				<p>二、培养要求</p>
				<p>本专业学生主要学习教育技术学基础理论和基本知识，接受数字媒体、计算机及网络技术的基本训练, 具有新技术教育应用方面的基本能力。目前教育技术学专业开设的专业方向有：数字媒体技术和教育软件与网络工程。</p>
				<p>通过课程学习和实践训练，达到以下培养要求：</p>
				<p>1、掌握教育技术学科的基本理论和基本知识；</p>
				<p>2、掌握教学系统分析、设计、管理、评价的方法和技术；</p>
				<p>3、具有数字媒体（数码摄影、平面设计、非线性编辑、动画制作、虚拟现实）制作的基本能力；</p>
				<p>4、具有计算机教育软件开发的基本能力和网络管理与应用的基本能力；</p>
				<p>5、熟悉国家关于教育、教育技术方面的有关方针、政策、法规；</p>
				<p>6、了解教育技术学理论前沿、应用前景、发展动态；</p>
				<p>7、掌握文献检索、资料查询的基本方法，具有一定的科学研究和实际工作能力。</p>
				<p>三、主干学科</p>
				<p>教育学、计算机科学与技术</p>
				<p>四、主要课程</p>
				<p>教育技术学导论、多媒体理论与技术、教学设计、教育技术学研究方法、美术基础、电视编导与制作、数字电视制作与播出、摄影技术与艺术基础、数据结构、计算机网络、教学资源设计、富媒体程序设计、数字视频合成技术、三维计算机动画、平面设计、虚拟现实基础及应用等。 </p>
				<p>教育软件与网络工程方向主要专业课程：教育技术学导论、教学设计、计算机组成原理、操作系统、数据结构、计算机网络、网络安全技术、程序设计实践、网络管理与维护、富媒体程序设计、教育软件工程、教学资源设计、网络数据库设计、算法分析与设计、三维计算机动画、信息技术课程教学法等。</p>
				<p>五、标准修读年限</p>
				<p>4</p>
				<p>六、授予学位</p>
				<p>理学学士</p>
				<p>七、课程统计</p>
				<table border="1">
					<tr>
						<th rowspan="3">序号</th>
						<th colspan="2" rowspan="3">课程类别</th>
						<th colspan="4" >课程开设</th>
					</tr>
					<tr>
						<td colspan="2">学时</td>
						<td colspan="2">学分</td>
					</tr>
					<tr>
						<td>学时数</td>
						<td>比例(%)</td>
						<td>学分数</td>
						<td>比例(%)</td>
					</tr>
					<tr>
						<td>1</td>
						<td colspan="2">综合必修课</td>
						<td>860</td>
						<td>25.56%</td>
						<td>45</td>
						<td>27.52%</td>
					</tr>
					<tr>
						<td>2</td>
						<td colspan="2">专业必修课</td>
						<td>1082</td>
						<td>32.16%</td>
						<td>54.5</td>
						<td>33.33%</td>
					</tr>
					<tr>
						<td>3 </td>
						<td rowspan="2">综合选修</td>
						<td>专业选修课</td>
						<td>1422 </td>
						<td>42.27% </td>
						<td>64 </td>
						<td>39.14% </td>
					</tr>
					<tr>
						<td>4 </td>
						<td>公共选修课</td>
						<td>0 </td>
						<td>0 </td>
						<td>0 </td>
						<td>0 </td>
					</tr>
				<tr>
					<td>5</td>
					<td colspan="2">合计</td>
					<td>3364</td>
					<td>100.00%</td>
					<td>163.5</td>
					<td>100%</td>
				</tr>
				</table>
				<!--todo 未完全-->
			</div>
			<!-- 文本类型内容 -->


		</div>
	</div>

	<div class="footer">
		<div id="footer_left">
			<h4>联系我们</h4>
			<span>咨询电话：400-656-3685｜地址：深圳市南山区深南大道3688深圳大学师范学院</span>
			<span>友情链接：
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
			</span>	
			<span id="copyright">Copyright © 2017-2018 BaoHao All Rights Reserved. 深圳大学教育技术系</span>
		</div>
		<div id="footer_right">
			<div id="media">
				<span>关注我们</span>
				<a href="#"><span id="weibo"></span></a>
				<a href="#"><span id="wechat"></span></a>
				<a href="#"><span id="qq"></span></a>
			</div>
			<h5>
				<a href="#">学术合作</a> ｜ 
				<a href="#">网站声明</a> ｜ 
				<a href="#">关于我们</a>
			</h5>
			<h6 id="code"></h6>
		</div>
	</div>


</body>
</html>