<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>深圳大学教育技术系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; maximum-scale=1.0;" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no;">
	<meta name="keywords" content="深圳大学,教育技术,深大教育技术" />
	<meta name="description" content="关于教育技术的介绍" />
	<meta name="author" content="Pang Lin" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/CSS.css'}">
	<link rel="stylesheet" type="text/css" th:href="@{'css/main.css'}">
	<script th:src="@{'/resource/basic/jquery/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="@{'js/main.js'}"></script>
	<!--[if lt IE 9]>
        <script th:src="@{'js/html5shiv.js'}"></script>
        <link rel="stylesheet" th:href="@{'CSS/ie8.css'}" />
	<![endif]-->
</head>
<body>
	<div class="header">
		<h1 id="logo"><img src="images/logo.jpg" alt=""></h1>
		<ul id="menu">
			<li><a href="/" style="text-decoration:none;">首页</a></li>
			<li class="on">新闻讯息</li>
			<li>总体概览</li>
			<li>办学条件</li>
			<li>师资力量</li>
			<li>办学层次</li>
			<li>学生组织</li>
			<li><a href="/photo" style="text-decoration:none;">风采展示</a></li>
			<li>校友空间</li>
		</ul>
	</div>
	<div class="banner">
		<img src="images/banner.jpg" alt="">
	</div>


	<div class="container">
		<div id="container_left">
			<ul id="container_left_menu">
				<h2>新闻报道</h2>
				<li>公告通知</li>
				<li class="on">最新资讯</li>
				<li>专业前沿</li>
			</ul>
		</div>
		<div id="container_right">
			<div id="header">
				<h3>最新资讯</h3>
				<span>你当前的位置： 新闻报道  >>  最新资讯</span>
			</div>

			<!-- 新闻列表 -->
			<div id="news">
				<ul>
					<li>
						<img src="images/news/jsjsjds.jpg" alt="大学生计算机设计大赛">
						<h4>第11届全国大学生计算机设计大赛校内选拔赛评选结果公示</h4>
						<span>截止到4月10日，第11届全国大学生计算机设计大赛校赛组委会共收到全校各学院的84个团队的报名表。4月14日，组委会邀请来自全校多学院的十位专业评委老师对报名参赛的作品进行评审，通过听取各团队参赛选手的陈述和答辩，几分采用剔除最高分取平均分方式，由评委投票选拔出40件作品获得参加省赛的资格。</span>
						<span id="date">2018-04-16 </span>
					</li>
					<li>
						<a href="/news/detail" style="text-decoration:none;">
						    <img src="images/news/reward.jpg" alt="十周年纪念大会">
						    <h4>“中国大学生计算机设计大赛高峰论坛暨十周年纪念大会”我校受到表彰</h4>
						    <span>日前，“中国大学生计算机设计大赛高峰论坛暨十周年纪念大会”在北京大学举行。中国大学生计算机设计大赛自2007 年创立，到2017 年已举办了十届。为总结大赛经验、表彰为大赛发展做出贡献的老师，教育部高等学校大学计算机课程教学指导委员会联合文科计算机教学指导分委员会决定，主办中国大学生计算机设计大赛高峰论坛暨十周年纪念大会。</span>
						    <span id="date">2018-01-01</span>
						</a>
					</li>
				</ul>
			</div>
			<div id="page">
				<ul>
					<li>上一页</li>
					<li>1</li>
					<li>2</li>
					<li>...</li>
					<li>6</li>
					<li>下一页</li>
				</ul>
			</div> 

		</div>
	</div>

	<div class="footer">
		<div id="footer_left">
			<h4>联系我们</h4>
			<span>咨询电话：400-656-3685｜地址：深圳市南山区深南大道3688深圳大学师范学院</span>
			<span>友情链接：
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
			</span>	
			<span id="copyright">Copyright © 2017-2018 BaoHao All Rights Reserved. 深圳大学教育技术系</span>
		</div>
		<div id="footer_right">
			<div id="media">
				<span>关注我们</span>
				<a href="#"><span id="weibo"></span></a>
				<a href="#"><span id="wechat"></span></a>
				<a href="#"><span id="qq"></span></a>
			</div>
			<h5>
				<a href="#">学术合作</a> ｜ 
				<a href="#">网站声明</a> ｜ 
				<a href="#">关于我们</a>
			</h5>
			<h6 id="code"></h6>
		</div>
	</div>


</body>
</html>














