<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>深圳大学教育技术系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no;">
	<meta name="keywords" content="深圳大学,教育技术,深大教育技术" />
	<meta name="description" content="关于教育技术的介绍" />
	<meta name="author" content="Pang Lin" />
	<link rel="stylesheet" type="text/css" th:href="@{'/css/CSS.css'}">
	<link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}">
	<script th:src="@{'/resource/basic/jquery/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="@{'/js/main.js'}"></script>
	<!--[if lt IE 9]>
        <script th:src="@{'/js/html5shiv.js'}"></script>
        <link rel="stylesheet" th:href="@{'/CSS/ie8.css'}" />
	<![endif]-->
</head>
<body>
	<div class="header">
		<h1 id="logo"><img src="/images/logo.jpg" alt=""></h1>
		<ul id="menu">
			<li><a href="/" style="text-decoration:none;">首页</a></li>
			<li class="on">新闻讯息</li>
			<li><a href="/overview" style="text-decoration:none;">总体概览</a></li>
			<li><a href="/condition" style="text-decoration:none;">办学条件</a></li>
			<li><a href="/faculty" style="text-decoration:none;">师资力量</a></li>
			<li><a href="/level" style="text-decoration:none;">办学层次</a></li>
			<li><a href="/student/organization" style="text-decoration:none;">学生组织</a></li>
			<li><a href="/photo" style="text-decoration:none;">风采展示</a></li>
			<li><a href="/alumnus" style="text-decoration:none;">校友空间</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="/images/banner.jpg" alt="">
	</div>


	<div class="container">
		<div id="container_left">
			<ul id="container_left_menu">
				<h2>新闻报道</h2>
				<li>公告通知</li>
				<li class="on">最新资讯</li>
				<li>专业前沿</li>
			</ul>
		</div>
		<div id="container_right">
			<div id="header">
				<h3>“中国大学生计算机设计大赛高峰论坛暨十周年纪念大会”我校受到表彰</h3>
				<span>你当前的位置： 新闻报道  >>  最新资讯</span>
			</div>


			<!-- 文本类型内容 -->
			<div id="text">
				<p>日前，“中国大学生计算机设计大赛高峰论坛暨十周年纪念大会”在北京大学举行。中国大学生计算机设计大赛自2007 年创立，到2017 年已举办了十届。为总结大赛经验、表彰为大赛发展做出贡献的老师，教育部高等学校大学计算机课程教学指导委员会联合文科计算机教学指导分委员会决定，主办中国大学生计算机设计大赛高峰论坛暨十周年纪念大会。</p>
				<p>大会公布数据显示，经过10年发展，中国大学生计算机设计大赛从第一届80个本科院校242件作品发展到第十届435个本科院校10000件作品参赛。大会决定对十年大赛贡献突出的赛区、高校、指导教师和评委进行表彰。</p>
				<p>大会设三项组织奖：</p>
				<p>“国赛优秀组织奖”（10届共8届设优秀组织奖，获得5次以上的优秀组织奖的院校获得，全国共12所高校）</p>
				<p>“省级赛优秀组织奖”（针对省级赛区）</p>
				<p>“院校优秀组织奖”（按获得一等奖、二等奖、三等奖的数量加权排序，前20所高校获奖）</p>
                <p>我校获得全部两项校奖：“国赛优秀组织奖”和“院校优秀组织奖”（排名第6）。</p>
				<img src="/images/news/reward.jpg">
				<img src="/images/news/reward2.jpg">
				<p>大会设两项优秀指导教师奖：“卓越指导教师”奖5名，“优秀指导教师奖”52名（按获得一等奖、二等奖、三等奖的数量之和排序）。我校胡世清老师、曹晓明老师获得“优秀指导教师奖”。大会设两项评委奖“资深评委奖”（15位）和“优秀评委奖”（38位）（根据担任评委次数、职称等评出）我校田少煦老师获得“资深评委奖”。</p>
				<p>我校取得如此优秀成绩，是全校多学科广大师生共同参与支持的结果。</p>
			    <span>师范学院教育信息技术系<br/>2018-4-16</span>
			  <!--  <span>2018-4-16</span>-->
			</div>
			<!-- 文本类型内容 -->


		</div>
	</div>

	<div class="footer">
		<div id="footer_left">
			<h4>联系我们</h4>
			<span>咨询电话：400-656-3685｜地址：深圳市南山区深南大道3688深圳大学师范学院</span>
			<span>友情链接：
				<em><a href="https://www.szu.edu.cn/">深圳大学</a></em>
				<em><a href="http://www1.szu.edu.cn">深圳大学校内网</a></em>
				<em><a href="http://norc.szu.edu.cn/front">深圳大学师范学院</a></em>
				<em><a href="http://210.39.2.52/ac/home/index/index.html">深圳大学本科生招生网</a></em>
				<em><a href="http://www.lib.szu.edu.cn/">深圳大学图书馆</a></em>
			</span>	
			<span id="copyright">Copyright © 2017-2018 BaoHao All Rights Reserved. 深圳大学教育技术系</span>
		</div>
		<div id="footer_right">
			<div id="media">
				<span>关注我们</span>
				<a href="#"><span id="weibo"></span></a>
				<a href="#"><span id="wechat"></span></a>
				<a href="#"><span id="qq"></span></a>
			</div>
			<h5>
				<a href="#">学术合作</a> ｜ 
				<a href="#">网站声明</a> ｜ 
				<a href="#">关于我们</a>
			</h5>
			<h6 id="code"></h6>
		</div>
	</div>


</body>
</html>














