<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>深圳大学教育技术系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no;">
	<meta name="keywords" content="深圳大学,教育技术,深大教育技术" />
	<meta name="description" content="关于教育技术的介绍" />
	<meta name="author" content="Pang Lin" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/CSS.css'}">
	<link rel="stylesheet" type="text/css" th:href="@{'css/main.css'}">
	<script th:src="@{'resource/basic/jquery/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="@{'js/main.js'}"></script>
	<!--[if lt IE 9]>
		<script th:src="@{'js/html5shiv.js'}"></script>
		<link rel="stylesheet" th:href="@{'CSS/ie8.css'}" />
	<![endif]-->
</head>
<body>
	<div class="header">
		<h1 id="logo"><img src="images/logo.jpg" alt=""></h1>
		<ul id="menu">
			<li><a href="/" style="text-decoration:none;">首页</a></li>
			<li><a href="/news" style="text-decoration:none;">新闻讯息</a></li>
			<li class="on">总体概览</li>
			<li><a href="/condition" style="text-decoration:none;">办学条件</a></li>
			<li><a href="/faculty" style="text-decoration:none;">师资力量</a></li>
			<li><a href="/level" style="text-decoration:none;">办学层次</a></li>
			<li><a href="/student/organization" style="text-decoration:none;">学生组织</a></li>
			<li><a href="/photo" style="text-decoration:none;">风采展示</a></li>
			<li><a href="/alumnus" style="text-decoration:none;">校友空间</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="images/banner.jpg" alt="">
	</div>


	<div class="container">
		<div id="container_left">
			<ul id="container_left_menu">
				<h2>总体概览</h2>
				<li class="on">发展历程</li>
				<li>学科特色</li>
				<li>培养方向</li>
				<li>组织架构</li>
				<li>招生汇总</li>
			</ul>
		</div>
		<div id="container_right">
			<div id="header">
				<h3>发展历程</h3>
			</div>

			<!-- 文本类型内容 -->
			<div id="text">
				<p>教育信息技术系——发展进程</p>
				<p>——特区教育新丁</p>
				<p>——教育技术后起之秀</p>
				<p>2002 年：获教育技术学本科专业，2002年招生</p>
				<p>2006 年：成立教育信息技术系，设教育软件与网络工程、数字媒体技术方向二个招生方向，建立教育信息技术教学实验中心</p>
				<img src="/images/overview/picture1.png">
				<p>2006 年：获教育技术学学科硕士学位授权点， 2007 年招生</p>
				<p>2007 年：获现代教育技术教育硕士学位授权点，2008 年招生</p>
				<p>2011 年：随教育学获一级硕士学位授权点 l 2012 年：招收全日制现代教育技术教育硕士</p>
			</div>
			<!-- 文本类型内容 -->


		</div>
	</div>

	<div class="footer">
		<div id="footer_left">
			<h4>联系我们</h4>
			<span>咨询电话：400-656-3685｜地址：深圳市南山区深南大道3688深圳大学师范学院</span>
			<span>友情链接：
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
			</span>	
			<span id="copyright">Copyright © 2017-2018 BaoHao All Rights Reserved. 深圳大学教育技术系</span>
		</div>
		<div id="footer_right">
			<div id="media">
				<span>关注我们</span>
				<a href="#"><span id="weibo"></span></a>
				<a href="#"><span id="wechat"></span></a>
				<a href="#"><span id="qq"></span></a>
			</div>
			<h5>
				<a href="#">学术合作</a> ｜ 
				<a href="#">网站声明</a> ｜ 
				<a href="#">关于我们</a>
			</h5>
			<h6 id="code"></h6>
		</div>
	</div>


</body>
</html>














