<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>深圳大学教育技术系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no;">
	<meta name="keywords" content="深圳大学,教育技术,深大教育技术" />
	<meta name="description" content="关于教育技术的介绍" />
	<meta name="author" content="Pang Lin" />
	<link rel="stylesheet" type="text/css" th:href="@{'/css/CSS.css'}">
	<link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}">
	<script th:src="@{'/resource/basic/jquery/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="@{'/js/main.js'}"></script>
	<!--[if lt IE 9]>
		<script th:src="@{'/js/html5shiv.js'}"></script>
		<link rel="stylesheet" th:href="@{'/CSS/ie8.css'}" />
	<![endif]-->
</head>
<body>
	<div class="header">
		<h1 id="logo"><img src="/images/logo.jpg" alt=""></h1>
		<ul id="menu">
			<li><a href="/" style="text-decoration:none;">首页</a></li>
			<li><a href="/news" style="text-decoration:none;">新闻讯息</a></li>
			<li><a href="/overview" style="text-decoration:none;">总体概览</a></li>
			<li><a href="/condition" style="text-decoration:none;">办学条件</a></li>
			<li><a href="/faculty" style="text-decoration:none;">师资力量</a></li>
			<li><a href="/level" style="text-decoration:none;">办学层次</a></li>
			<li class="on">学生组织</li>
			<li><a href="/photo" style="text-decoration:none;">风采展示</a></li>
			<li><a href="/alumnus" style="text-decoration:none;">校友空间</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="/images/banner.jpg" alt="">
	</div>


	<div class="container">
		<div id="container_left">
			<ul id="container_left_menu">
				<h2>学生组织</h2>
				<li class="on">本科生名单</li>
				<li>研究生名单</li>
				<li>教育硕士名单</li>
				<li>系历届学生会干部名单</li>
			</ul>
		</div>
		<div id="container_right">
			<div id="header">
				<h3>本科生名单</h3>
			</div>

			<!-- 文本类型内容 -->
			<div id="text">
				<p>教育技术 2012 级</p>
				<table>
					<tr>
						<th>序号</th>
						<th>姓名</th>
						<th>性别</th>
						<th>主修专业</th>
					</tr>
					<tr>
						<td>1</td>
						<td>叶枫</td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>2</td>
						<td>何俊校 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>3</td>
						<td>宋莹 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>4</td>
						<td>刘芳霞 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>5</td>
						<td>李润琪 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>6</td>
						<td>努尔江·库热斯  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>7</td>
						<td>任方方 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>8</td>
						<td>黄秋映  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>9</td>
						<td>曾嘉楠  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>10</td>
						<td>曾云  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>11</td>
						<td>华思锦  </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>12</td>
						<td>赵奕</td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>13</td>
						<td>江炜钊 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>14</td>
						<td>江灵栖 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>15</td>
						<td>黄子玲 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>16</td>
						<td>陈小燕 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>17</td>
						<td>陈美玲 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>18</td>
						<td>张峰毅 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>19</td>
						<td>张翔 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>20</td>
						<td>陈坤烨 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>21</td>
						<td>陆家欣  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>22</td>
						<td>伍婉琪 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>23</td>
						<td>邓嘉描 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>24</td>
						<td>乔钰涵  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>25</td>
						<td>高爽 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>26</td>
						<td>武珍 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>27</td>
						<td>赵亚莉 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>28</td>
						<td>刘飞英 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>29</td>
						<td>罕米热·艾克白尔 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>30</td>
						<td>莫海婷 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>31</td>
						<td>薛锡雅  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>32</td>
						<td>薛倩倩  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>33</td>
						<td>申婷婷  </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>34</td>
						<td>张泳诗</td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>35</td>
						<td>古力奴 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>36</td>
						<td>林泽鹏 </td>
						<td>男</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>37</td>
						<td>娜迪热•艾外尔 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>38</td>
						<td>高凌霄 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
					<tr>
						<td>39</td>
						<td>王珊珊 </td>
						<td>女</td>
						<td>教育技术学（师范）</td>
					</tr>
				</table>
				<p>教育技术 2013 级</p>
				<!--todo-->


			</div>
			<!-- 文本类型内容 -->


		</div>
	</div>

	<div class="footer">
		<div id="footer_left">
			<h4>联系我们</h4>
			<span>咨询电话：400-656-3685｜地址：深圳市南山区深南大道3688深圳大学师范学院</span>
			<span>友情链接：
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
				<em>深圳大学</em>
				<em>深圳大学校内网</em>
			</span>	
			<span id="copyright">Copyright © 2017-2018 BaoHao All Rights Reserved. 深圳大学教育技术系</span>
		</div>
		<div id="footer_right">
			<div id="media">
				<span>关注我们</span>
				<a href="#"><span id="weibo"></span></a>
				<a href="#"><span id="wechat"></span></a>
				<a href="#"><span id="qq"></span></a>
			</div>
			<h5>
				<a href="#">学术合作</a> ｜ 
				<a href="#">网站声明</a> ｜ 
				<a href="#">关于我们</a>
			</h5>
			<h6 id="code"></h6>
		</div>
	</div>


</body>
</html>